<app-nav></app-nav>
<div class="container">
  <div class="row">
  <div class="col-4">
    <input 
    type="text" 
    class="form-control" 
    placeholder="Add TODO"
    [(ngModel)] = todoThing
    (keyup.enter)="addItem()"
    />
  </div>
  <div class="col-auto">
    <button class="btn btn-primary mb-3" (click)="addItem()">Add Todo</button>
  </div>
  <br>
  <div class="col-auto">
    <ul class="list-group" *ngFor="let i of list">
      <li class="list-group-item">{{i.value}}</li>
    </ul>
  </div>
  
</div>

<log-in [ids] = "ids"></log-in> 
</div>
